venv/
dist/
build/
*.egg*/
__pycache__/
.vscode/
MANIFEST.in
.coverage
docs/build/
.devcontainer/
.idea
*.DS_Store

# Ignore generated Sphinx documentation files
docs/source/semanticscholar.rst
docs/source/semanticscholar.*.rst